# Server Configuration
PORT=7711
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# Database
DATABASE_URL=postgresql://<user>:<password>@<host>/<database>?sslmode=require

# Authentication
JWT_SECRET=your_jwt_secret_here

# Cloudinary (Image Storage)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# SMTP (Email Service)
SMTP_EMAIL=your_email@example.com
SMTP_PASSWORD=your_app_password

# WaafiPay
MERCHANT_UID=mercahnt_uid
API_USER_ID=api_user_id
API_KEY=api_key

WAAFIPAY_URL=https://api.waafipay.com/asm

# Stripe
STRIPE_SECRET_KEY=stripe_secret_key